<section style="background-color: #2b2e33">

  <div class="container-fluid">
    <div style="overflow: auto" class="row flex-row flex-nowrap pb-4 pt-4">
      {% for hourlyData in weatherData %}
        <div class="col-md-2 col-lg-2 col-sm-3" style="width: 200px">
          <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-body p-4">
              <div class="d-flex">
                <h6 class="flex-grow-1" style="font-size:16px; text-align: center;  ">
                  <b> {{ hourlyData.location }}  </b>
                </h6>
                <h6 class="flex-grow-1"
                    style="font-size: 14px; align-content: center"> {{ hourlyData.date|date("H:i") }}
                </h6>
              </div>
              <div class="d-flex flex-column text-center mt-1 mb-1">
                <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331; font-size: 26px">
                  {{ hourlyData.temperature }}°C
                </h6>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1" style="font-size: 0.75rem;">
                  <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span
                      class="ms-1"> {{ hourlyData.windSpeed }} km/h</span>
                  </div>
                  <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span
                      class="ms-1"> {{ hourlyData.humidity }}% </span>
                  </div>
                  <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{ hourlyData.uv }}uv </span>
                  </div>
                </div>
                <div>
                  <img src="{{ hourlyData.icon }}"
                       width="50px">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

</section>




